@better:registry=https://artifactory.bettermg.com/artifactory/api/npm/npm/
//artifactory.bettermg.com/artifactory/api/npm/npm/:_password="QUtDcDViQjNXYzFrcUpXclJ2aXIxeW5IUDJoM3hzUzh0cmRwRGZNZHh4ejFDNG16TFNNb1pjWEtEd2Z6Q0RvVno2c05UekhDRQ=="
//artifactory.bettermg.com/artifactory/api/npm/npm/:username=awestling
//artifactory.bettermg.com/artifactory/api/npm/npm/:email=awestling@better.com
//artifactory.bettermg.com/artifactory/api/npm/npm/:always-auth=true
