<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisabledUTTypes</key>
	<array>
		<string>com.adobe.pdf</string>
		<string>com.apple.applescript.alias-object</string>
		<string>com.apple.applescript.data-object</string>
		<string>com.apple.applescript.text-object</string>
		<string>com.apple.applescript.url-object</string>
		<string>com.apple.coreanimation-bundle</string>
		<string>com.apple.coreanimation-xml</string>
		<string>com.apple.dashcode.css</string>
		<string>com.apple.dashcode.javascript</string>
		<string>com.apple.dashcode.json</string>
		<string>com.apple.dashcode.manifest</string>
		<string>com.apple.dashcode.xml</string>
		<string>com.apple.dt.bundle.unit-test.objective-c</string>
		<string>com.apple.dt.document.scheme</string>
		<string>com.apple.dt.document.snapshot</string>
		<string>com.apple.dt.document.workspace</string>
		<string>com.apple.dt.dvt.plug-in</string>
		<string>com.apple.dt.ide.plug-in</string>
		<string>com.apple.dt.playground</string>
		<string>com.apple.instruments.tracetemplate</string>
		<string>com.apple.interfacebuilder.document</string>
		<string>com.apple.interfacebuilder.document.cocoa</string>
		<string>com.apple.iphone.developerprofile</string>
		<string>com.apple.iphone.mobileprovision</string>
		<string>com.apple.iwork.keynote.key</string>
		<string>com.apple.iwork.numbers.numbers</string>
		<string>com.apple.iwork.numbers.sffnumbers</string>
		<string>com.apple.iwork.numbers.template</string>
		<string>com.apple.keynote.key</string>
		<string>com.apple.localized-pdf-bundle</string>
		<string>com.apple.mach-o-binary</string>
		<string>com.apple.mach-o-executable</string>
		<string>com.apple.mach-o-object</string>
		<string>com.apple.property-list</string>
		<string>com.apple.protected-mpeg-4-audio</string>
		<string>com.apple.quartzdebug.introspectiontrace</string>
		<string>com.apple.quicktime-movie</string>
		<string>com.apple.rez-source</string>
		<string>com.apple.scripting-definition</string>
		<string>com.apple.symbol-export</string>
		<string>com.apple.x11-mach-o-executable</string>
		<string>com.apple.xcode.archive</string>
		<string>com.apple.xcode.configsettings</string>
		<string>com.apple.xcode.docset</string>
		<string>com.apple.xcode.dsym</string>
		<string>com.apple.xcode.model</string>
		<string>com.apple.xcode.mom</string>
		<string>com.apple.xcode.plugin</string>
		<string>com.apple.xcode.plugindata</string>
		<string>com.apple.xcode.project</string>
		<string>com.apple.xcode.projectdata</string>
		<string>com.apple.xcode.strings-text</string>
		<string>com.apple.xcode.usersettings</string>
		<string>com.microsoft.excel.sheet.binary.macroenabled</string>
		<string>com.microsoft.excel.xls</string>
		<string>com.microsoft.powerpoint.ppt</string>
		<string>com.microsoft.windows-dynamic-link-library</string>
		<string>com.microsoft.windows-executable</string>
		<string>com.sun.java-archive</string>
		<string>com.sun.java-class</string>
		<string>com.sun.web-application-archive</string>
		<string>dyn.ah62d4rv4ge8042pu</string>
		<string>dyn.ah62d4rv4ge80u5pbsa</string>
		<string>dyn.ah62d4rv4ge81a7dk</string>
		<string>dyn.ah62d4rv4ge8wy</string>
		<string>org.openxmlformats.spreadsheetml.sheet</string>
		<string>org.openxmlformats.spreadsheetml.sheet.macroenabled</string>
		<string>public.3gpp</string>
		<string>public.3gpp2</string>
		<string>public.audio</string>
		<string>public.html</string>
		<string>public.image</string>
		<string>public.movie</string>
		<string>public.mpeg</string>
		<string>public.mpeg-4</string>
		<string>public.mpeg-4-audio</string>
		<string>public.mpeg-video</string>
		<string>public.object-code</string>
		<string>public.presentation</string>
		<string>public.shell-script</string>
		<string>public.source-code</string>
		<string>public.spreadsheet</string>
		<string>public.unix-executable</string>
		<string>public.xhtml</string>
		<string>public.xml</string>
	</array>
	<key>EnabledPreferenceRules</key>
	<array>
		<string>Custom.relatedContents</string>
		<string>FileExtension.dyn.ah62d4rv4ge8wy</string>
		<string>FileExtension.dyn.ah62d4rv4ge8042pu</string>
		<string>System.files</string>
		<string>System.folders</string>
		<string>System.iphoneApps</string>
		<string>System.menuItems</string>
		<string>com.apple.AppStore</string>
		<string>com.surteesstudios.Bartender</string>
		<string>com.apple.iBooksX</string>
		<string>com.apple.iCal</string>
		<string>com.apple.AddressBook</string>
		<string>com.apple.mail</string>
		<string>com.apple.MobileSMS</string>
		<string>com.apple.Notes</string>
		<string>com.apple.mobilephone</string>
		<string>com.apple.Photos</string>
		<string>com.apple.podcasts</string>
		<string>com.apple.reminders</string>
		<string>com.apple.Safari</string>
		<string>com.apple.systempreferences</string>
		<string>com.apple.tips</string>
		<string>com.apple.VoiceMemos</string>
		<string>Domain.SOURCE</string>
		<string>System.documents</string>
		<string>Domain.IMAGES</string>
		<string>Domain.MOVIES</string>
		<string>Domain.MUSIC</string>
		<string>Domain.MENU_OTHER</string>
		<string>Domain.PDF</string>
		<string>Domain.PRESENTATIONS</string>
		<string>Domain.SPREADSHEETS</string>
	</array>
</dict>
</plist>
